/* stripped this from https://www.anime-planet.com/ */
/* Helpers & Variables */
/* Social Media Colors */
/* Supporter Colors */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: "Book Antiqua", Georgia, "times new roman", serif;
  width: auto;
  position: relative;
  height: 100%;
  color: #777;
  line-height: 1.8;
  margin: 0 100px;
  padding: 0;
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
  h1 {
    font-weight: bold;
    color: #333;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .top {  
    /* background-image: url("images/bg-flowers.avif");
    background-size: cover;
    background-position: center; */
    margin: 0 -100px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-top {
    padding: 10px 100px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff0d5;
    text-transform: uppercase;
    /* box-sizing: border-box; */
  }
  .top a {
    color: #777;
  }
  .top .name {
    float: left;
    text-align: center;
    font-size: x-large;
    padding: 12px;
    border-radius: 4px;
  }
  .top .name a {
    color: #777;
    font-weight: 500;
  }
  .navigation {
    float: right;
  }
  .navigation ul {
    margin: 0 auto;
    text-align: center;
  }
  .navigation li {
    margin-right: 20px;
    font-size: 1.5em;
    float: right;
    padding: 12px;
    color: #333;
  }
  .navigation a:hover {
    background-color: #E8DFD0;
    color: black;
  }
  .navigation a.active {
    background-color: dodgerblue;
    color: white;
  }
  .content {
    margin: 0 150px;
  }
  .centered {
    text-align: center;
  }
  .list-block {
    color: #777;
  }
  .list-block h2 {
    color: #333;
  }